<nav class="bg-gray-800 text-white fixed w-full top-0 left-0">
  <div class="container mx-auto flex justify-between items-center p-4">
    <div class="font-bold">OGame Commander</div>
    <div>
      <a routerLink="/tasks" routerLinkActive="underline" class="mr-4">Tasks</a>
      <a
        *ngIf="isAdmin()"
        routerLink="/universes"
        routerLinkActive="underline"
        class="mr-4"
        >Universes</a
      >
      <a
        *ngIf="isAdmin()"
        routerLink="/users"
        routerLinkActive="underline"
        class="mr-4"
        >Users</a
      >
      <a
        *ngIf="!isLoggedIn()"
        routerLink="/login"
        routerLinkActive="underline"
        class="mr-4"
        >Login</a
      >
      <button
        *ngIf="isLoggedIn()"
        (click)="logout()"
        class="bg-red-500 hover:bg-red-600 px-2 py-1 rounded"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
<div class="mt-16 p-4">
  <router-outlet></router-outlet>
</div>
